---
import Layout from '../layouts/Layout.astro';
import { ContactForm } from '@/components/Contact/ContactForm.tsx';
import ContactInfo from '@/components/Contact/ContactInfo.astro';
import ContactFeatures from '@/components/Contact/ContactFeatures.astro';
---

<Layout
  title="Contact |ActionMaker"
  description="Neem contact op met ons voor meer informatie over onze teambuilding activiteiten."
>
  <div class="max-w-7xl mx-auto px-4 pt-20">
    <div class="grid lg:grid-cols-2 gap-12 items-start">
      <ContactForm client:load />
      <div class="space-y-12">
        <ContactInfo />
        <ContactFeatures />
      </div>
    </div>
  </div>
</Layout>
