---
import { Card } from "@/components/ui/card";

interface Client {
  name: string;
  logo: string;
}

interface Props {
  clients: Client[];
}

const { clients } = Astro.props;
---

<div class="flex flex-wrap justify-center items-center gap-16 py-12">
  {
    clients.map((client) => (
      <div class="transform transition-transform duration-300 hover:-translate-y-2">
        <img
          src={client.logo}
          alt={`${client.name} logo`}
          class="h-16 w-auto object-contain filter grayscale hover:grayscale-0 transition-all duration-300"
        />
      </div>
    ))
  }
</div>

<style>
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
</style>