---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  images: string[];
  imageImports: Record<string, { default: ImageMetadata }>;
}

const { images, imageImports } = Astro.props;
---

<div class="space-y-4">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {
      images.map((imagePath) => {
        const fullImagePath = `/src/assets/activities/${imagePath}`;
        const imageData = imageImports[fullImagePath]?.default;

        if (!imageData) {
          console.error(`Image not found: ${fullImagePath}`);
          return null;
        }

        return (
          <div class="aspect-[4/3] overflow-hidden rounded-lg">
            <Image
              src={imageData}
              alt=""
              width={800}
              height={600}
              class="w-full h-full object-cover hover:scale-110 transition-transform duration-500"
            />
          </div>
        );
      })
    }
  </div>
</div>
